<% if can? :manage, @users %>
  <% @users.each do |u| %>
    <span>
      <%= image_tag u.avatar("thumb")%>
      <span>
        ID: <%= u.email %></br>
      </span>
    </span>
    </br>
  <% end %>
  <%= paginate @users %>
<% end %>
