<% if current_user.admin?  %>
  <% @users.each do |user| %>
    <span>
      <%= image_tag user.avatar('thumb')%>
      <span>
        ID: <%= user.email %>
      </span>
    </span>
  <% end %>

  <%= paginate @users %>
<% end %>
