<div>
  <div class="col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong><%= review.user.email %></strong> <span class="text-muted">commented 5 days ago</span>
      </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-sm-1">
              </div>
              <%= review.content %></br>
            </div>
          </div>
          <% if can? [:update, :destroy], review %>
            <%= link_to 'Edit', edit_movie_review_path(@movie, review) %>
            <%= link_to 'Delete', [@movie,review], method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
    </div>
  </div>
</div>
